/* CSS file (styles.css) */
@font-face {
    font-family: "Aeonik";
    src: url('../fonts/AeonikTRIAL-Regular.otf') format("opentype");
    font-display: swap;
}
@font-face {
    font-family: "Aeonik-Black";
    src: url('../fonts/AeonikTRIAL-Black.otf') format("opentype");
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: "SignalMono";
    src: url("../fonts/SignalMonoWeb-Regular-Trial.woff2") format("woff2");
}
@font-face {
    font-family: "SignalMono-Light";
    src: url("../fonts/SignalMonoWeb-Light-Trial.woff2") format("woff2");
}
@font-face {
    font-family: "SignalMono-ExtraLight";
    src: url("../fonts/SignalMonoWeb-ExtraLight-Trial.woff2") format("woff2");
}
:root {
    --font-Aeonik: Aeonik, Arial, sans-serif;
    --font-Aeonik-Black: Aeonik-Black, Arial, sans-serif;
    --font-SignalMono: SignalMono, Arial, sans-serif;
    --font-SignalMono-Light: SignalMono-Light, SignalMonoWeb-Light-Trial, Arial, sans-serif;
    --font-SignalMono-ExtraLight: SignalMono-ExtraLight, Arial, sans-serif;
    --font-SignalMono-Medium: SignalMono-Medium, Arial, sans-serif;
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #BFBFBF;
    --color-gray-dark: rgb(153, 153, 153);
    --color-nimbus-gray: rgb(201, 201, 201);
    --color-near-black: #121212;
    --color-brand-silver: #C3CDD6;
    --color-brand-orange: #F38971;
    --color-brand-blue: #1F384F;
}
html {
    box-sizing: border-box;
    font-size: 16px;
    
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* box-sizing above based on https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */


/*
* typography defaults
*/
body {
    font-family: var(--font-Aeonik);
    font-weight: 400;
    color:black;
    background-color: var(--color-white);
    font-size: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-Aeonik-Black);
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
h1 {
    font-size: clamp(3.125rem, 2.2667rem + 3.662vw, 5.5625rem);
    font-weight: 900;
    line-height: clamp(3rem, 2.142rem + 3.662vw, 5.438rem);
}
h1 > span {
    font-size: clamp(4.1875rem,1.1161rem + 15.3571vw,14.9375rem);
    display: block;
    line-height: clamp(5rem, 6rem + 6vw, 12rem);

}
h2 {
    font-size: clamp(2.75rem,2.2438rem + 2.1596vw,4.1875rem);
}
h3,
h4 {
    color: var(--color-gray-dark);
    font-family: var(--font-Aeonik);
    font-size: .9rem;
}
h5 {
    font-size: 1.3rem;
    background-color: var(--color-black);
    color: var(--color-white);
}

.button {
    display: inline-block;
    border: 2px solid var(--color-brand-orange);
    padding: .8rem 1rem;
    width: auto;
    font-family: var(--font-SignalMono-Light);
    font-size: .9rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
    transition-property: background-color, color, border-color;
    transition-duration: 1s;
}
a.button {
    text-decoration: none;
    color: var(--color-black);
}
.button--primary,
.button:hover {
    background-color: var(--color-brand-orange);
}
.button--primary:hover {
    background-color: var(--color-black);
    border-color: var(--color-black);
    color: var(--color-white);
}
label {
    font-family: var(--font-SignalMono-Light);
    font-size: .9rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
    display: inline-block;
}
input[type="radio"] {
    display: inline;
    border-radius: 50;
    height: 3rem;
    width: 3rem;
}
input[type="radio"]:checked {
    box-shadow:0 0 0 2px var(--color-brand-orange);
}
.button-chat {
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: grid;
    justify-items: center;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px, rgba(0, 0, 0, 0.2) 0px 4px 16px;
}
.button-chat:hover {
    width: 65px;
    height: 65px;
    transition: ease-in-out;
}
/*
* page-header
*/
.page-header {
    background-color: black;
    padding: 0 1rem;
    color: var(--color-white);
    display: grid;
    grid-template-columns: 10rem auto 1rem;
    align-items: center;
    height: 4rem;
    text-transform: uppercase;
    font-size: .82rem;
}
.nav-bar,
.nav-bar__menu,
.nav-bar__langage-switcher {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: auto .5rem;
}
.language-switcher__language,
.language-swithcer__locale,
.nav-bar__menu * {
    margin: 0 .5rem;
    align-items: center;
}
.fa-bars {
    margin: 0;
    padding-left: .5rem;
}
/*
* logo
*/
.logo {
    margin-top: 1rem;
}
.small {
    visibility: visible;
    align-self: center;
    margin: 0;
}
.large {
    visibility: hidden;
    position: relative;
    top: -1024px;
    left: -1024px;
    height: 1px;
}
/*
* Main Navigation
*/
.nav-main {
    background-color: var(--color-black);
    color: var(--color-white);
}
.nav-main ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}
.nav-main li {
    display: flex;
    flex-wrap: nowrap;
    font-family: var(--font-SignalMono);
    font-size: .82rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
    margin: .25rem 1rem;
}
.nav-main li span {
    padding: .5rem 0;

}
.nav-main li:hover span,
.nav-main li:active span {
    border-bottom: 1px solid var(--color-brand-orange);
}
.dropdown {
    align-items: center;
}
.dropdown > svg {
    margin-left: .5rem;
    transition: rotate 1s;
}
.dropdown:hover > svg {
    rotate: 180deg;
}

/*
* nav-main__sub-menu
*/
.nav-main__sub-menu {
    height: 100vh;
}
.sub-menu__categories {
    background-color: var(--color-black);
    height: 100%;
    list-style-type: none;
}
.sub-menu__categories a {
    font-family: var(--font-Aeonik);
    font-size: 1.6rem;
    color: var(--color-nimbus-gray);
    text-decoration: none;
    display: inline-block;
    padding: 1.6rem 3rem;

}
.sub-menu__category {
    display: grid;
    grid-template-columns: 1fr 5rem;
    align-items: center;
    border-bottom: none;
}
.sub-menu__category a {
    font-family: var(--font-SignalMono-Light);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2rem;
}
.sub-menu__category .fa-chevron-right {
    color: var(--color-nimbus-gray);
    margin-right: 2rem;
}
.sub-menu__panel {
    visibility: hidden;
}
/* 
* language-picker
*/
.language-picker {
    background-color: black;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: var(--color-nimbus-gray);
    padding-top: 5rem;
}
.language-picker__header {
    display: relative;
}
.language-picker .close {
    color: var(--color-white);
    font-size: 50;
}
.language-picker .region {
    font-family: var(--font-Aeonik);
    font-size: 2.8rem;
}
.language-picker .region > p {
    margin: 1rem 0
}
.language-picker__regions,
.language-picker .nations,
.languages {
    list-style: none;
}
.language-picker .nations {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: .75rem
}
.language-picker .nation {
    font-family: var(--font-Aeonik);
    font-size: 1.4rem;
    font-weight: 300;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    
}
.language-picker .nation--active {
    background-color: var(--color-white);
    
    border-radius: .25rem;
    margin-right: 2rem;}
.language-picker .nation--active * {
    color: var(--color-black);
}
.language-picker .nation img {
    height: 1.4rem;
    float: left;
}
.language-picker .languages {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 1rem
}
.language-picker .language a {
    text-decoration: none;
    font-family: var(--font-SignalMono-Light);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 3rem;
    color: var(--color-nimbus-gray);
}
.language-picker .language a:hover {
    border-bottom: 1px solid var(--color-nimbus-gray);
}
/*
* banner 
*/
.banner {
    font-family: var(--font-SignalMono-Light);
    font-size: 1rem;
    background-color: var(--color-brand-orange);
    text-align: center;
    display: relative;
    padding: 1rem 0;
    margin: 0;
}
.banner a {
    color: var(--color-black);
}
.banner a:active,
.banner a:hover {
    text-decoration: none;
}
.close {
    position: absolute;
    right: 1.5rem;
}

.hero {
    text-align: center;
    padding: 5rem 0 4rem 0;
}

/*
* image-accordion
*/
.image-accordion {
    padding-left: 0;
    list-style: none;
    display: flex;
}
.image-accordion .button {
    color: var(--color-white);
}
.image-accordion__item {
    overflow: hidden;
    background-size: cover;
    color: var(--color-white);
    padding: 2rem 2rem 2rem 2rem;
    height: 30rem;
    width: 20%;
    align-content: end;
}
.image-accordion__item:nth-child(1){
    width:60%;
    animation: resize-1 15s linear 0s infinite alternate;
}
.image-accordion__item:nth-child(1) * {
    animation: toggle-visible-1 15s linear 0s infinite alternate;
}
.image-accordion__item:nth-child(2){
    width: 20%;
    animation: resize-2 15s linear 0s infinite alternate;
}
.image-accordion__item:nth-child(2) * {
    animation: toggle-visible-2 15s linear 0s infinite alternate;
}
.image-accordion__item:nth-child(3) {
    width: 20%;
    animation: resize-1 15s linear 0s infinite alternate-reverse;
}
.image-accordion__item:nth-child(3) * {
    animation: toggle-visible-3 15s linear 0s infinite alternate;
}
@keyframes resize-1 {
    0% {width: 60%;}
    32% {width: 60%;}
    34% {width: 20%;}
    100% {width: 20%;}    
}
@keyframes resize-2 {
    0% {width: 20%;}
    31% {width: 20%}
    33% {width:60%;}
    66% {width: 60%;}
    68% {width: 20%;}
    100% {width: 20%;}    
}
@keyframes resize-3 {
    0% {width: 20%;}
    64% {width:20%;}
    66% {width: 60%;}
    100% {width: 60%;}    
}
@keyframes toggle-visible-1 {
    0% {visibility: visible;}
    30% {visibility: visible;}
    32% {visibility: hidden;}
    100% {visibility: hidden;}   
}
@keyframes toggle-visible-2 {
    0% {visibility: hidden;}
    33% {visibility: hidden;}
    35% {visibility: visible;}
    64% {visibility: visible;}
    66% {visibility: hidden;}
    100% {visibility: hidden;}    
}
@keyframes toggle-visible-3 {
    0% {visibility: hidden;}
    66% {visibility: hidden;}
    68% {visibility: visible;}
    100% {visibility: visible;}    
}
/*
* carousel  Adapted in part from https://css-tricks.com/css-only-carousel/
*/
.carousel {
    position: relative;
    padding-top: 68rem;
}
.carousel ol {
    display: flex;
    overflow-x: scroll;
    padding-left: 0;
    list-style: none;
}
.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}
.carousel__prev {
    left: 2rem;
}
.carousel__next {
    right: 2rem;
}
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 25rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 1rme;
    outline: 0;
    background-color: var(--color-brand-orange);
    align-content: center;
    visibility: hidden;
}
.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
    justify-content: center;
}
  
.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--color-brand-orange);
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
} 
.slide {
    text-align: center;
    position: relative;
    flex: 0 0 100%;
    width: 100%;
}
.slide .carousel__prev,
.slide .carousel__next {
    visibility: hidden;
}
.slide .button {
    margin: 1rem .25rem;
}
.button-row {
    width: 20rem;
    margin: 0 auto;
}
.slide__subtitle {
    font-family: var(--font-Aeonik-Black);
    font-size: 2rem;
    margin-top: 0;
}
.slide fieldset {
    border: none;
    visibility: hidden;
}
.slide img {
    /* width: 65rem; */
    width: 90%;
}
.slide__specs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    position: relative;
}
.carousel svg{
    position: absolute;
    top: 5px;
}
.detail-list__pricing {
    border-right: 1px solid black;
    padding-right: 2rem;
}
.detail-list__pricing p {
    align-content: center;
    font-family: var(--font-Aeonik-Black);
    font-size: 2rem;
    margin: 0;
}
.detail-list__pricing a {
    font-family: var(--font-Aeonik);
    font-size: .6rem;
    text-decoration: underline;
    color: var(--color-near-black);
}
.detail-list__specs {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, 2rem);
    justify-content: center;
    position: relative;
}
.detail-list__specs dt {
    grid-row: 1;
    margin: 0 1rem;
}
.detail-list__specs dd {
    grid-row: 2;
}
.detail-list__specs dt,
.detail-list__specs dd {
    font-size: 1.2rem;
}
/*
* Feature
*/
.feature {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 3rem;
    gap: 2rem;
}
.feature__image img {
    width: 100%;
}

/*
* tiles
*/
.tiles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
}
.tile__title {

    font-family: var(--font-Aeonik-Black);
    font-size: 2.5rem;
}
.tile__title > svg {
    height: 1.5rem;
    fill: var(--color-brand-orange);
}
.tile__image img {
    width: 100%;
}
.tile__image:hover {
    transform: scale(1.05);
}
/*
* stay-informed
*/
.stay-informed {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 2rem;
    align-items: center;
    width: 80%;
    margin: 1rem auto;
}
.stay-informed button {
    background: none;
    border: none;
    width: 2rem;
    height: 1rem;
    position: absolute;
    right: 1rem
}
.stay-informed button > svg {
    height: 1rem;
    fill: var(--color-black);
}
.stay-informed__form {
    font-family: var(--font-SignalMono-Medium);
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    max-width: 40rem;
    margin: 0 auto;
    position: relative;
}
.stay-informed__entry {
    border: 2px solid red;
    text-transform: uppercase;
}
.stay-informed__socials  {
     justify-self: center;
}
/*
* socials-list
*/
.socials-list {
    padding-left: 0;
    list-style-type: none;
}
.socials-list__social-link {
    display: inline-block;
}
.socials-list__social-link a {
    color: var(--color-gray);
    padding: .75rem;
    font-size: 1.5rem;
}
/*
* media-section
*/
.media-section {
    display: grid;
    grid-template-columns: 1fr;
}
.media-section video {
    width: 100%;
    margin: 1rem 0;
}
.media-section .button {
    width: auto;
    margin: 1rem auto;
}
/*
* financial-disclaimer
*/
.financial-disclaimer {
    font-family: var(--font-Aeonik);
    font-size: .75rem;
    font-weight: 400;
    line-height: .9rem;
    max-width: 75rem;
    margin: auto;
    padding: 1rem;
}
/*
* page-footer
*/
.page-footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 2rem;
}
.page-footer__logo,
.page-footer .socials-list {
    padding: 2rem 2rem;
}
.page-footer .stay-informed__title {
    font-size: 1.5rem;
}
.page-footer .stay-informed {
    font-size: 1.2rem;
}
.page-footer .stay-informed__entry {
    border: none;
    padding: 1rem;
}
/*
* site-map
*/
.site-map {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding-left: 0;
}
.site-map ul {
    list-style: none;
    padding-left: 0;
    text-transform: uppercase;
    line-height: 2rem;
 }
 .site-map a {
    text-decoration: none;
    color: var(--color-gray-dark);
    font-family: var(--font-SignalMono);
    font-size: .9rem;
    line-height: 2rem;
 }

 /*
 * policy-list
 */
 .policy-list {
    list-style: none;
    padding-left: 0;
    column-gap: 30px;
 }
 .policy-list a {
    text-decoration: none;
    color: var(--color-gray-dark);
    width: 8rem;
    font-family: var(--font-SignalMono);
    font-size: .6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
 }
 .copyright {
    grid-column-start: 1;
    grid-column-end: -1;
    font-family: var(--font-Aeonik);
    font-size: .12rem;
 }
/*
* component
*/
.component {
    margin: 3rem 0;
}
.component__name {
    background-color: var(--color-brand-blue);
    color: var(--color-white);
    padding: 1rem;
}
.component img {
    max-width: initial;
}
.component__image {
    border: 1px solid #ccc;
    overflow-x: auto;
}
.component__code {
    border: 1px solid #ccc;
}

@media screen and (max-width: 1199px){
     /*
    * Accordian
    */
    .accordion {
        border-bottom: 1px solid var(--color-gray);
        margin-bottom: 1rem;
        cursor: pointer;
    }
    .panel {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    .active, .accordion:hover {
        cursor: pointer;
    }
}

@media screen and (min-width:  768px) {
    .language-picker {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 65%;
        width: 35%;
    }
    .tiles {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .page-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .site-map {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .policy-list {
        grid-column-start: 1;
        grid-column-end: -1;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    .copyright {
        width: clamp(25rem, 50%, 35rem);
        margin: 0 auto;
    }
    .carousel {
        padding-top: 65rem;
    }
    .slide__specs {
        display: flex;
        flex-direction: row;
        gap: 0;
    }
    .detail-list__pricing {
        padding-right: 2rem;
    }
    .detail-list__pricing p {
        font-size: 2.5rem;
    }
    .detail-list__pricing a {
        font-size: .8rem;
    }
}

@media screen and (min-width: 1200px) {
    .small {
        visibility: hidden;
        position: relative;
        top: -1024px;
        left: -1024px;
        height: 1px;
        width: 1px;
    }
    .large {
        visibility: visible;
        position: inherit;
        height: auto;
    }
    .nav-main__sub-menu {
        height: 480px;
        display: grid;
        grid-template-columns: 3fr 5fr;
    }
    .sub-menu__category {
        border-bottom: 1px solid var(--color-gray-dark);
    }
    .sub-menu__category--active {
        background-color: var(--color-gray);
    }
    .sub-menu__category--active a {
        color: var(--color-black);
    }
    .sub-menu__categories .sub-menu__category:last-child {
        border-bottom: none;
    }
    .sub-menu__category .fa-chevron-right {
        visibility: hidden;
    }
    .sub-menu__panel {
        visibility: visible;
        display: grid;
        grid-template-columns: 1fr;
    }
    .app-list {
        display: flex;
        justify-content: center;
        gap: 2rem;
        list-style-type: none;
    }
    .app-list__app a {
        display: grid;
        grid-template-columns: 1fr;
        display: block;
        text-decoration: none;
        color: var(--color-black);
        padding: 2.4rem 0;
        text-align: center;
        font-family: var(--font-SignalMono-Light);
        font-size: 1rem;
        line-height: 1rem;
        text-transform: uppercase;
    }
    .app-list__app img {
        height: 220px;
    }
    .sub-menu__category:hover {
        background-color: var(--color-gray);
    }
    .sub-menu__category:hover a {
        color: var(--color-black)
    }
    .carousel__navigation {
        visibility: hidden;
    }
    .carousel__prev,
    .carousel__next {
        visibility: visible;
    }
    .slide:hover .carousel__prev,
    .slide:hover .carousel__next {
        visibility: visible;
    }
    .feature {
        grid-template-columns: 4fr 7fr;
    }
    .stay-informed {
        grid-template-columns: 1fr 1fr;
    }
    .stay-informed__socials  {
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .site-map {
        grid-column-start: 1;
        grid-column-end: -1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

