<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Components | LiveWire</title>
        <link rel="stylesheet" href="../css/normalize.css" >
        <link rel="stylesheet" href="../css/main.css" >
    </head>
    <body>
        <h1>Web Components</h1>
        <h2>Typography Defaults</h2>
        <article class="component">
            <h3 class="component__name">body</h3>
            <div class="component__image">
                <img src="img/body.png" alt="body copy" >
            </div>
            <div class="component__code">
                <p>Find a retail location and experience a LiveWire electric motorcycle near you.</p>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">headings (h1, h2, h3...)</h3>
            <div class="component__image">
                <img src="img/h1.png" alt="h1" >
                <img src="img/h2.png" alt="h2" >
                <img src="img/h5.png" alt="h5" >
            </div>
            <div class="component__code">
                <h1>motorcycles</h1>
                <h2>S2 Alpinista</h2>
                <h5>stay informed</h5>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">nav</h3>
            <div class="component__image">
                <img src="img/header/nav.png" alt="body copy" >
            </div>
            <div class="component__code">
                <nav>
                    <ul>
                        <li>motorcycles</li>
                        <li>experience</li>
                        <li>support</li>
                        <li>shop</li>
                    </ul>
                </nav>
            </div>
        </article>
        
    </body>
</html>