<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Components | LiveWire</title>
        <link rel="stylesheet" href="../css/normalize.css" >
        <link rel="stylesheet" href="../css/main.css" >
        <link rel="stylesheet" href="../assets/fontawesome/css/fontawesome.min.css" />
        <link rel="stylesheet" href="../assets/fontawesome/css/solid.min.css" >
        <link rel="stylesheet" href="../assets/fontawesome/css/regular.min.css" >
        <link rel="stylesheet" href="../assets/fontawesome/css/brands.min.css" >
    </head>
    <body>
        <h1>Web Components</h1>
        <h2>Typography Defaults</h2>
        <article class="component">
            <h3 class="component__name">body</h3>
            <div class="component__image">
                <img src="img/body.png" alt="body copy" >
            </div>
            <div class="component__code">
                <p>Find a retail location and experience a LiveWire electric motorcycle near you.</p>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">headings (h1, h2, h3...)</h3>
            <div class="component__image">
                <img src="img/h1.png" alt="h1" >
                <img src="img/h2.png" alt="h2" >
                <img src="img/h5.png" alt="h5" >
            </div>
            <div class="component__code">
                <h1>motorcycles</h1>
                <h2>S2 Alpinista</h2>
                <h5>stay informed</h5>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">Atoms</h3>
            <div class="component__image">
                <img src="img/button.png" alt="button" >
                <img src="img/button--primary.png" alt="button-primary" >
                <img src="img/button--primary-focused.png" alt="button-primary with focus" >

            </div>
            <div class="component__code">
                <a class="button" href="#!">buy now</a>
                <a class="button button--primary" href="#!">explore</a>
                <form>
                    <label for="glacier-silver"><input type="radio" id="glacier-silver" name="color" value="glacier silver" checked="">Glacier Silver</label>
                    <label for="asphalt-black"><input type="radio" id="asphalt-black" name="color" value="black">Asphalt Black</label>
                </form>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">page-header</h3>
            <div class="component__image">
                <img src="img/header-small.png" alt="Small screen header" >
                <img src="img/header.png" alt="Large screen header" >
            </div>
            <div class="component__code">
                <header class="page-header">
                    <div class="logo">
                        <img class="large" src="https://www.livewire.com/_next/static/media/logo-landmark.3749a96b.svg" alt="Livewire Logo">
                        <img class="small" src="https://www.livewire.com/_next/static/media/logo-symbol.6439bdb4.svg" alt="Livewire Logo">    
                    </div>
                    <nav class="nav-main large">
                        <ul>
                            <li>motorcycles <svg width="12" height="6" viewBox="0 0 12 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.41 2.20852e-07L6 3.62583L10.59 1.65874e-06L12 1.11625L6 5.86625L-2.20852e-07 1.11625L1.41 2.20852e-07Z" fill="currentColor"></path></svg></li>
                            <li>experience <svg width="12" height="6" viewBox="0 0 12 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.41 2.20852e-07L6 3.62583L10.59 1.65874e-06L12 1.11625L6 5.86625L-2.20852e-07 1.11625L1.41 2.20852e-07Z" fill="currentColor"></path></svg></li>
                            <li>support <svg width="12" height="6" viewBox="0 0 12 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.41 2.20852e-07L6 3.62583L10.59 1.65874e-06L12 1.11625L6 5.86625L-2.20852e-07 1.11625L1.41 2.20852e-07Z" fill="currentColor"></path></svg></li>
                            <li>shop <svg width="12" height="6" viewBox="0 0 12 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.41 2.20852e-07L6 3.62583L10.59 1.65874e-06L12 1.11625L6 5.86625L-2.20852e-07 1.11625L1.41 2.20852e-07Z" fill="currentColor"></path></svg></li>
                        </ul>
                    </nav>
                    <div class="nav-bar">
                        <div class="nav-bar__menu small">
                            <i class="fa-solid fa-bars small"></i>
                            <p class="small">menu</p>
                        </div>
                        <div class="nav-bar__langage-switcher">
                            <img class="language-switcher__language" src="https://www.livewire.com/next-assets/icons/flags/US.svg" alt="Locale United States" width="24" height="18">
                            <p class="language-switcher__language">EN</p>
                        </div>
                    </div>
                    
                </header>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">nav-main</h3>
            <div class="component__image">
                <img src="img/header/nav.png" alt="body copy" >
            </div>
            <div class="component__code">
                <nav class="nav-main">
                    <ul>
                        <li>motorcycles</li>
                        <li>experience</li>
                        <li>support</li>
                        <li>shop</li>
                    </ul>
                </nav>
            </div>
        </article>
        
        <article class="component">
            <h3 class="component__name">banner</h3>
            <div class="component__image">
                <img src="img/banner.png" alt="banner">
            </div>
            <div class="component__code">
                <p class="banner"><a href="!#">FINANCING AS LOW AS 1.49% APR*</a><i class="fa-solid fa-x close"></i></p>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">Hero</h3>
            <div class="component__image">
                <img src="img/hero.png" alt="hero" >
            </div>
            <div class="component__code">
                <h1 class="hero">
                    <span>livewire</span> electric motorcycles
                </h1>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">Feature</h3>
            <div class="component__image">
                <img src="img/feature.png" alt="feature" >
            </div>
            <div class="component__code">
                <div class="feature">
                    <div class="feature__info">
                        <h2 class="feature__title">S2 models for as low as 1.49% APR*</h2>
                        <p class="feature__description">All LiveWire S2 models are now available for a limited time for as low as 1.49% APR.* Enjoy an unparalleled electric riding experience with low monthly payments.</p>
                        <a href="#!" class="button">SEE OFFERS</a>
                    </div>
                    <div class="feature__image">
                        <img src="https://livewire.widen.net/content/lvzl2g1ipf/web/Incentives_Trio_FeaturtedContent.jpg" alt="feature">
                    </div>
                </div>
            </div>
        </article>
    </body>
</html>
